In [1]:
import sqlite3
import pandas as pd

sql_connection = sqlite3.connect('exercises.sqlite')

## Import From SQL

In [23]:
current_exercises = pd.read_sql('SELECT * FROM chest_day', sql_connection, index_col='index')
current_exercises.tail()

         id                 date                  name  weight  reps
31  1000032  2023-05-14 00:00:00             Tricep 21      57    15
32  1000033  2023-04-16 00:00:00  Lying Crunch Machine     200    20
33  1000034  2023-04-24 00:00:00  Lying Crunch Machine     200    21
34  1000035  2023-05-07 00:00:00  Lying Crunch Machine     200    23
35  1000036  2023-05-14 00:00:00  Lying Crunch Machine     200    18

## Get Exercises for the Muscle Group

In [20]:
# Update Ids (conversion in progress)
# current_exercises['id'] = current_exercises.index + 1000033
# current_exercises.set_index('id', inplace=True)
# current_exercises.head(10)

                        date                  name  weight  reps
id
1000033  2023-04-16 00:00:00  Lying Crunch Machine     200    20
1000034  2023-04-24 00:00:00  Lying Crunch Machine     200    21
1000035  2023-05-07 00:00:00  Lying Crunch Machine     200    23
1000036  2023-05-14 00:00:00  Lying Crunch Machine     200    18

In [24]:
# Set names to a list of unique exercise names
names = current_exercises['name'].unique()
names

array(['Cable Flies', 'Peck Deck', 'Incline Smith Press', 'Pullovers',
       'Chest Press Machine (Declined)', 'Dumbell Incline Tricep',
       'Single Arm Cable Tricep', 'Tricep 21', 'Lying Crunch Machine'],
      dtype=object)

# Add Exercise

In [27]:
today_date = input("Enter date YYYY-MM-DD: ")
date = f"{today_date} 00:00:00"

for i in range(0, len(names)):

  """ This algorithm sets the elements of a new enry with user input and then inserts it into the database table for each name. Id is calculated by last index."""

  weight = input(f"Enter Weight for {names[i]}: ")
  reps = input(f"Enter Reps for {names[i]}: ")
  e_id = current_exercises.iloc[-1, 0] + 1
  new_entry = [e_id, date, names[i], weight, reps]
  current_exercises.loc[len(current_exercises)] = new_entry

# Format the string dates to datetime.
current_exercises['date'] = pd.to_datetime(current_exercises['date'])
current_exercises.tail(10)

         id       date                            name weight reps
35  1000036 2023-05-14            Lying Crunch Machine    200   18
36  1000037 2023-05-28                     Cable Flies     35   12
37  1000038 2023-05-28                       Peck Deck    235   12
38  1000039 2023-05-28             Incline Smith Press    160   18
39  1000040 2023-05-28                       Pullovers    135   12
40  1000041 2023-05-28  Chest Press Machine (Declined)    130   15
41  1000042 2023-05-28          Dumbell Incline Tricep     35   13
42  1000043 2023-05-28         Single Arm Cable Tricep     42   10
43  1000044 2023-05-28                       Tricep 21     45   21
44  1000045 2023-05-28            Lying Crunch Machine    200   15

In [25]:

# Update a single item by id and column
# current_exercises.loc[1, 'date'] = 4

# Drop last row
# current_exercises.drop(index=current_exercises.index[-1], axis=0, inplace=True)

current_exercises.tail()

              date                         name  weight  reps
id
1000010 2023-05-05       Oblique Crunch Machine     170    20
1000011 2023-05-14         Lying Crunch Machine     200    18
1000012 2023-05-16         Platform Back Raises     135    16
1000013 2023-05-17  Straight Arm Crunch Machine     170    14
1000014 2023-05-19       Oblique Crunch Machine     170    24

In [28]:
# Export new chart to database with a date stamp
current_exercises.to_sql('chest_day', con, if_exists='replace')

# TODO: MANUALLY REVIEW AND EXPORT NEW TABLE TO CSV AS BACKUP!!

45

## Leg Day Notes:
* 2023-05-19: Changed Smith Squat range of motion to full so should be marked drop in weight.